@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Italianno&family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import "https://use.fontawesome.com/releases/v5.14.0/css/all.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-image: url("../images/cupcakes.png");
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    overflow: hidden;
    align-items: center;
    min-height: 8vh;
    font-family: 'Libre Baskerville', serif;
    line-height: 80px;
    background-color: #4c3e3e;
}

section {
    padding-top: 100px;
    padding-bottom: 650px;
    padding-left: 10%;
    padding-right: 10%;
}

main {
    padding-top: 80px;
}

main section h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Charm', cursive;
    color: #423535;
    text-decoration: underline;
    padding-left: 10px;
}

main section p {
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(240 255 255 / 80%);
    line-height: 1.8;
}

.logo {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #fffee4;
    padding-left: 50px;
    margin-right: auto;
}

.links {
    display: flex;
    justify-content: space-around;
    font-family: 'Libre Baskerville', serif;
    width: 32%;
}

/*to remove the dots from li*/
.links li {
    list-style: none;
}

.links a {
    color: #f1f1f1;
    text-decoration: none;
    border: 3px solid transparent;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

/*Disappear the icon while in full screen, for only appear in mobile screen*/
.bars-icon {
    display: none;
    color: #f1f1f1;
    font-size: 11px;
    margin: 5px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 22px;
    cursor: pointer;
}

a.active,a:hover {
    border: 1px solid #f1f1f1;
    transition: 0.3s;
    color: #fffee4;
    padding: 10px;
}

footer {
    padding: 25px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    background-color: rgb(240 255 255 / 45%);
}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }

    .links {
        position: inherit;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-color:#4c3e3e;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
        opacity: 0.8;
    }

    .links li {
        opacity: 0;
    }

    .bars-icon {
        display: block;
    }
}

/*To appear the menu when the icon is clicked */
.nav-active {
    transform: translatex(0%);
}

@keyframes linksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}